<header> <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Reasons4Democracy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"> <a class="nav-link" aria-current="page" href="/">Home</a> </li> <!-- TODO je nach Seite sollte hier noch "active" der css klasse hinzugefügt werden -->
                    <li class="nav-item"> <a class="nav-link" href="/votes">All votes</a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" aria-disabled="true">Upcoming votes</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/test">Annotations test template</a> </li>
                </ul>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        LLM selection
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?model=grok-4-0709">grok-4-0709</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=grok-3-mini">grok-3-mini</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=gpt-5-2025-08-07">gpt-5-2025-08-07</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=gpt-5-mini-2025-08-07">gpt-5-mini-2025-08-07</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=gpt-5-nano-2025-08-07">gpt-5-nano-2025-08-07</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=Apertus-70B">Apertus-70B</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="?language=Apertus-8B">Apertus-8B</a></li>
                    </ul>
                </div>
                <div style="padding: 0 10px;"></div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?language=de">deutsch</a></li>
                        <li><a class="dropdown-item" href="?language=fr">francais</a></li>
                        <li><a class="dropdown-item" href="?language=it">italiano</a></li>
                        <li><a class="dropdown-item" href="?language=rm">rumantsch</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>