<!DOCTYPE html>
<html lang="de">
<head>
    <title>Abstimmungsvorlage: erlaeuterung.vorlagenTitel</title>
    {% include "head.html" %}
</head>
<body class="d-flex flex-column h-100">
{% include "header.html" %}
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">{{ erlaeuterung.vorlagenTitel }}</h1>
        <p>This popular vote is of type <b>{{ vote_type }}</b> and was held on <b>{{ vote_date }}</b>.</p>
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
            <!-- TODO auch hier kann class "active" genutzt werden um UI zu optmimieren -->
            <li class="nav-item">
                <button class="nav-link" id="tab0-tab" data-bs-toggle="pill" data-bs-target="#tab0" type="button" role="tab" aria-controls="tab0" aria-selected="false">Introduction</button>
            </li>
            {% for chapter in erlaeuterung.kapitel %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab{{ loop.index }}-tab" data-bs-toggle="pill" data-bs-target="#tab{{ loop.index }}" type="button" role="tab" aria-controls="tab{{ loop.index }}" aria-selected="false">{{ chapter.text }}</button>
            </li>
            {% endfor %}
            <li class="nav-item">
                <button class="nav-link" id="tab{{ (erlaeuterung.kapitel | length) + 1 }}-tab" data-bs-toggle="pill" data-bs-target="#tab{{ (erlaeuterung.kapitel | length) + 1 }}" type="button" role="tab" aria-controls="tab{{ (erlaeuterung.kapitel | length) + 1 }}" aria-selected="false">News</button>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="tab0" role="tabpanel" aria-labelledby="tab0-tab">
                <div class="container my-5">
                    <div class="alert alert-info" role="alert">
                        Dieser Text wurde mittels einem Large Language Model <button type="button" class="btn btn-light btn-sm" style="vertical-align: baseline;">{{ model }}</button> generiert.
                    </div>
                    {{ summary[model] | replace('"', '') | safe }}
                </div>
            </div>
            <!-- TODO put class "active" depending on view -->
            {% for chapter in erlaeuterung.kapitel %}
            <div class="tab-pane fade show" id="tab{{ loop.index }}" role="tabpanel" aria-labelledby="tab{{ loop.index }}-tab">
                <div class="container" style="min-height: 50vh;">
                    <div class="row" style="min-height: 50vh;">
                        <div class="col-8 bg-light" style="min-height: 50vh;">
                            <div class="alert alert-info" role="alert">Diese Inhalte entstammen den Erläuterungen aus dem Abstimmungsbüchlein, welches von der Bundeskanzlei herausgegeben wird.</div>
                            <h3>Contents</h3>
                            {% for k in chapter.komponenten %}
  {# Titel: #}
  {% if k.typ == 'title' and k.title %}
    <h2 class="mt-4">{{ k.title.text }}</h2>
  {% endif %}

  {# Text: #}
  {% if k.typ == 'text' and k.text %}
    <p>{{ k.text.text | safe }}</p>
  {% endif %}

  {# Parole: #}
  {% if k.typ == 'parole' and k.parole %}
    <blockquote class="blockquote">{{ k.parole.text }}</blockquote>
  {% endif %}

  {# Link: #}
  {% if k.typ == 'link' and k.link %}
    <a href="{{ k.link.url }}" target="_blank" rel="noopener">
      {{ k.link.name or k.link.url }}
    </a>
  {% endif %}

  {# Youtube: #}
  {% if k.typ == 'youtube' and k.youtube %}
    <div class="ratio ratio-16x9 my-2">
      <iframe src="https://www.youtube.com/embed/{{ k.youtube.youtubeId }}" title="YouTube-Video" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  {# Bild: #}
  {% if k.typ == 'image' and k.image %}
    <div class="my-2">
      <img src="{{ 'https://app-static.voteinfo-app.ch/v5/' ~ vote_id ~ '/' ~ k.image.url }}" alt="{{ k.image.altText or '' }}" class="img-fluid"/>
      {% if k.image.caption %}
        <div class="text-muted small">{{ k.image.caption }}</div>
      {% endif %}
    </div>
  {% endif %}

  {# Abstimmungs-Resultate (vote): #}
  {% if k.typ == 'vote' and k.vote %}
    <div class="my-2">
      <h5>{{ k.vote.titel }}</h5>
      <ul>
        {% for balken in k.vote.balken %}
          <li>{{ balken.label }}: {{ balken.value }}</li>
        {% endfor %}
      </ul>
        <!-- half cirlce charts -->
        <figure class="highcharts-figure">
            <div id="{{ k.vote.titel | replace(' im ', ' ') | lower | replace(' ', '-') }}"></div>
                <p class="highcharts-description">
                    Illustration zur {{ k.vote.titel }}
                </p>
        </figure>
        {% set words = k.vote.titel.split() %}
        {% set filtered_words = words | reject('lower', 'im') %}
<script>
// Data retrieved from https://netmarketshare.com/
Highcharts.chart('{{ k.vote.titel | replace(" im ", " ") | lower | replace(" ", "-") }}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: '{{ k.vote.titel | replace(" im ", "<br />") | safe }}',
        align: 'center',
        verticalAlign: 'middle',
        y: 60,
        style: {
            fontSize: '1.1em'
        }
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: ' Stimmen'
        }
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%'],
            size: '110%'
        }
    },
    series: [{
        type: 'pie',
        name: 'Anteil',
        innerSize: '50%',
        data: [
            {% for label in ['Nein', 'Enthaltungen', 'Ja'] %}
        {% for balken in k.vote.balken if balken.label == label %}
            ['{{ balken.label }}', {{ balken.value }}]{% if not (label == 'Ja') %},{% endif %}
        {% endfor %}
    {% endfor %}
        ]
    }]
});

</script>
    </div>
  {% endif %}

  {# PDF: #}
  {% if k.typ == 'pdf' and k.pdf %}
  <div class="my-2">
    <iframe src="{{ 'https://app-static.voteinfo-app.ch/v5/' ~ vote_id ~ '/' ~ k.pdf.url }}#page=1"
            width="100%" height="500px"
            title="PDF-Vorschau">
    </iframe>
    {% if k.pdf.name %}
      <div class="small text-muted">Dateiname: {{ k.pdf.name }}</div>
    {% endif %}
    <a href="{{ 'https://app-static.voteinfo-app.ch/v5/' ~ vote_id ~ '/' ~ k.pdf.url }}" target="_blank" rel="noopener" class="btn btn-outline-secondary btn-sm mt-2">
      PDF im neuen Tab öffnen
    </a>
  </div>
{% endif %}
{% endfor %}

                        </div>
                        <div class="col-4 bg-secondary text-white" style="min-height: 50vh;">
                            <h3>Annotations / Chat</h3>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="tab-pane fade" id="tab{{ (erlaeuterung.kapitel | length) + 1 }}" role="tabpanel" aria-labelledby="tab{{ (erlaeuterung.kapitel | length) + 1 }}-tab">
                <div class="alert alert-info" role="alert">
                    Dieser Text wurde mittels einem Large Language Model <button type="button" class="btn btn-light btn-sm" style="vertical-align: baseline;">{{ model }}</button> generiert.
                </div>
                <h2>Artikelübersicht zur {{ newsArticles[model]['title'] }}</h2>
    <ul>
        {% for article in newsArticles[model]['article_list'] %}
        <li>
            <div class="article-title">{{ article.publisher }} <button type="button" class="btn btn-info btn-sm">{{ article.label }}</button>: {{ article.title }}</div>
            <div class="article-url"><a href="{{ article.url }}" target="_blank">{{ article.url }}</a></div>
            <div class="article-reflection">{{ article.summary }}</div>
        </li>
        {% endfor %}
    </ul>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="bottom-bar">
        <p class="text-center">LLM Actions <button type="button" class="btn btn-primary" onclick="sendMarkedText()">Explain</button> <button type="button" class="btn btn-secondary" onclick="sendMarkedText()">Chat</button> <button type="button" class="btn btn-info">Argumentation Quality</button></p>
        <p id="actionOutput">LoremOutput</p>
    </div>
</main>
{% include "footer.html" %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const firstTab = new bootstrap.Tab(document.querySelector('#pills-tab .nav-link:first-child'));
    firstTab.show();
});
</script>
</body>
</html>